<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
    <title>Hankisul Data Center</title>
  </head>
  <body>
    {% if session['logged_in'] %}
    <p>또 가입하시게요?</p>
    {% else %}
    <header class="title">
      <div class="logo">
        <img
          src="{{url_for('static',filename='images/logo.png')}}"
          class="logo-image"
        />
      </div>
      <div><h1>Hankisul Data Center</h1></div>

      <a href="/"
        ><img
          src="{{ url_for('static',filename='images/home.png')}}"
          width="30"
      /></a>
    </header>
    <main class="main">
      <h2 class="login">Sign up</h2>
      <form action="/" method="POST">
        <label class="legend">아이디</label>
        <input type="username" name="username" placeholder="Username" />

        <label class="legend">비밀번호</label>
        <input type="password" name="password" placeholder="Password" />

        <label class="legend">이메일</label>
        <input type="email" name="email" placeholder="email@email.com" />
        <br /><br />
        <input type="submit" value="Sign up" />
      </form>
    </main>
    {% endif %} {% endblock %}
  </body>
</html>
